

.listContainer {
  display : flex;
  justify-content : center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #cfcfff;
  padding: 10px;
  border-radius: 3px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.lsItem>label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 17px;
}

.lsItem > input {
    height: 30px;
    border: none;
    padding: 5px;
}


.lsItem > span {
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: black;
  font-size: 13px;
}

.lsOptionInput {
    width: 50px;
}

.lsOptions {
    padding: 10px;
}

.listSearch > button {
    padding: 10px;
    background-color: #46469c;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.listResult {
  flex: 3;
}


.label {
    color: black;
}
