/* From uiverse.io by @alexmaracinaru */

.amainhead {
    background-image: url("../../Assets/Images/adphoto.jpg");
    height: 91vh;
    padding-top: 4rem;
    background-repeat: no-repeat;
}

.atitle {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #f5f5f5;
}

.aform_card {
    width: 190px;
    height: 254px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
}

.aform {
    padding: 25px;
}

.acard_header {
    display: flex;
    align-items: center;
}

.acard svg {
    color: #7878bd;
    margin-bottom: 20px;
    margin-right: 5px;
}

.aform-control {
    width: 20rem;
    height: 2rem;
}

.aform_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: #7878bd;
}

.afield {
    padding-bottom: 10px;
}

.ainput {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #7a7ab3;
    border: 1px solid #dadaf7
}

.ainput:focus-visible {
    outline: 1px solid #aeaed6;
}

.ainput::placeholder {
    color: #bcbcdf;
}

label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
}

button {
    background-color: #7878bd;
    /* margin-top: 10px; */
    font-size: 14px;
    padding: 7px 12px;
    font-weight: 500;
    color: white;

    margin-top: 0px;
}

/* button:hover {
    background-color: #5f5f9c;
   } */

.acard {
    width: 520px;
    padding: 1.9rem 1.2rem;
    text-align: center;
    /* background: #2a2b38; */
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 3rem;
    font-size: 1.5rem;
    height: 32rem;
    border-radius: 16px;
}


.abtn {
    /* margin: 1rem; */
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #ffeba7;
    color: #5e6681;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
}

.abtn:hover {
    background-color: #5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}