/* From uiverse.io by @alexmaracinaru */

.mainhead {
    background-image: url("../../Assets/Images/adphoto.jpg");
    height: 91vh;
    padding-top: 4rem;
    background-repeat: no-repeat;
}

.form_card {
    width: 190px;
    height: 254px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
   }
   
   .form {
    padding: 25px;
   }
   
   .card_header {
    display: flex;
    align-items: center;
   }
   
   .card svg {
    color: #7878bd;
    margin-bottom: 20px;
    margin-right: 5px;
   }

   .form-control {
    width: 20rem;
    height: 2rem;
   }
   
   .form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: #7878bd;
   }
   
   .field {
    padding-bottom: 10px;
   }
   
   .input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #7a7ab3;
    border: 1px solid #dadaf7
   }
   
   .input:focus-visible {
    outline: 1px solid #aeaed6;
   }
   
   .input::placeholder {
    color: #bcbcdf;
   }
   
   label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
   }
   
   button {
    background-color: #7878bd;
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    font-weight: 500;
    color: white;
   }
   
   button:hover {
    background-color: #5f5f9c;
   }